.banner31-container1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
}
 
.banner31-container2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner31-image {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(43, 78, 239, 0.5) 1.00%,rgba(43, 78, 239, 0.5) 100.00%),e0da4197-e0e4-4759-ad8d-8c24d30a7407;
  background-position: center;
}
 
.banner31-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.banner31-text-group {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  z-index: 100;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.banner31-title {
  width: 719px;
  display: flex;
  font-size: 60px;
  align-self: center;
  font-style: normal;
  text-align: left;
  align-items: center;
  font-family: "Inter";
  font-weight: 700;
  flex-direction: column;
  justify-content: center;
}
 
.banner31-text1 {
  width: 562px;
  display: flex;
  font-size: 20px;
  align-self: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.banner31-fragment1 {
  display: contents;
}
 
.banner31-text2 {
  color: #ffffff;
  display: inline-block;
}
 
.banner31-fragment2 {
  display: contents;
}
 
.banner31-text3 {
  color: #ffffff;
  display: inline-block;
}
 

